@charset "ISO-8859-1";


p{
	color: #438ec7;
	font-family: sans-serif;
	font-weight: bold; 
	word-spacing: 20px;
}

.qwe{
	
	color: #df0000;
	margin-left: 200px;
	
	
}



.qwert{
	
	color: #10cf53;
	margin-left: 200px;
	
	
}

.wow{
	color:#40b9ca; 
}
